.section-heading {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #555555;
}

.section-description {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #555555;
}
.team-section {
    .row {
        .col-lg-4:first-child {
            padding-left: 0;
        }
        .col-lg-4:last-child {
            padding-right: 0;
        }
    }
}
.btn-red {
  background-color: #e4375c !important;
  text-transform: none;
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
}
