@import '../../../../../assets/styles/variables';
$path-images: '../../../../../assets/images';
.overlay {
	position: fixed;
	background: #000;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}
.main {
    .list-post.show {
        margin-top: 157px;
    }
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 16rem;
		padding: 0.5rem 0;
		margin: 1.125rem 0 0;
		font-size: 1rem;
		color: #212529;
		text-align: left;
		list-style: none;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 0.25rem;
	}
	.dropdown-toggle::after {
		content: none;
	}
	.dropdown-menu {
		left: unset !important;
		right: 0;
		transform: translate3d(0px, 0px, 0px);
	}
	.dropdown.show .dropdown-menu {
		opacity: 1 !important;
	}
	.mmenu-post {
		margin: 0.125rem 0 0;
	}
	.dropdown.show .dropdown-menu {
		opacity: 1 !important;
		display: block;
	}
	.dropdown-item.active,
	.dropdown-item:active {
		color: #fff;
		text-decoration: none;
		background-color: #007bff;
	}
	.dropdown-item {
		display: block;
		width: 100%;
		padding: 0.25rem 1.5rem;
		clear: both;
		font-weight: 400;
		color: #212529;
		text-align: inherit;
		white-space: nowrap;
		background-color: transparent;
		border: 0;
	}
	margin-top: 4.5rem !important;
	img {
		max-width: 100%;
	}
	.menu-action-with-friend {
		left: unset;
		right: 0;
	}
	.action-with-friend.more {
		padding: 5px 10px 5px 30px;
		background: #fff;
		display: block;
		text-align: right;
		border-radius: 7px;
	}
	.sprite-network {
		display: inline-block;
		background: url(/assets/sprites/sprite-net-work.png) no-repeat;
		overflow: hidden;
		text-indent: -9999px;
		text-align: left;
		margin-right: 7px;
	}
	.close-or-cancel {
		background-position: -5px -192px;
		width: 18px;
		height: 12px;
	}
	.add-icon {
		background-position: -5px -62px;
		width: 22px;
		height: 22px;
		vertical-align: middle;
	}
	.comment-icon {
		background-position: -5px -139px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
	.close-icon {
		background-position: -5px -114px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
	.blog-icon {
		background-position: -5px -89px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
	.report-icon {
		background-position: -5px -164px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
	.header-info {
		position: relative;
		.header-background {
		height: 280px;
		width: 100%;
		background: url('/assets/images/coca-c.png');
		position: relative;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		}
		.put-header {
		position: absolute;
		bottom: 15px;
		width: 100%;

		.info-friend {
			display: flex;
			align-items: flex-end;
			img {
			max-width: 130px;
			}
			.name-and-connect {
			margin-left: 15px;
			.title-user {
				font-size: 24px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.1px;
				text-align: left;
				color: #ffffff;
			}
			.count-connections {
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0.1px;
				text-align: left;
				color: #ffffff;
			}
			}
		}
		.cancel-request {
			padding: 7px 15px;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
			background: #fff;
			img {
			max-width: 17px;
			margin-right: 13px;
			}
		}
		.mmenu-post {
			.description-action-network {
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #e4375c;
			}
		}
		.mmenu-post .dropdown-item {
			cursor: pointer;
			margin: 4px 0;
			font-size: 12px;
			* {
			font-size: 12px !important;
			}
		}
		.mmenu-post {
			border: 0;
			.dropdown-item.active,
			.dropdown-item:active {
			background: #fff;
			}
		}
		}
	}
	.hidden {
		display: none !important;
	}
	}
	.main-info {
	.arrow-col {
		background-color: #ffffff;
		box-shadow: 0 0 4px 0 rgba(89, 89, 89, 0.5);
		width: 100%;
		padding: 20px 15px;
		margin-bottom: 20px;
		.title-colum {
		font-size: 24px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		margin-bottom: 15px;
		letter-spacing: 0.1px;
		text-align: left;
		color: #555555;
		text-transform: uppercase;
		}
		.listing-info {
		.label-profile {
			font-size: 14px;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #555555;
			font-weight: bold;
		}
		}
		.listing-education {
		padding-bottom: 20px;
		border-bottom: solid 1px #979797;
		}
		.listing-recommendations {
		.header-tab-recommend {
			padding-bottom: 12px;
			border-bottom: solid 1px #979797;
			.tab-recomend {
			padding-bottom: 15px;
			margin-right: 15px;
			cursor: pointer;
			}
			.tab-recomend.active {
			border-bottom: 2px solid #e4375c;
			font-weight: bold;
			color: #e4375c;
			}
		}
		.main-tab-recommend {
			.title-person {
			display: block;

			font-size: 14px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #555555;
			}
			span {
			display: block;
			margin: 7px 0;
			}
			.content-recommend {
			* {
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: 0px;
				text-align: left;
				margin-bottom: 0;
				color: #555555;
			}
			}
			.border-top {
			padding-top: 10px;
			border-top: 1px solid #555555;
			}
		}
		}

		.rol-11 {
		width: 11%;
		max-width: 11%;
		flex: 0 0 11%;
		}
		.rol-89 {
		width: 89%;
		max-width: 89%;
		flex: 0 0 89%;
		}
		.rol-25 {
		width: 25%;
		max-width: 25%;
		flex: 0 0 25%;
		}
		.rol-75 {
		width: 73%;
		max-width: 7%;
		flex: 0 0 73%;
		margin-left: 2%;
		}

		.listing-experience {
		.border-top {
			border-top: solid 1px #aaaaaa;
			padding-top: 15px;
		}
		.exp-col {
			margin-top: 20px;
			.image-exp {
			img {
				padding: 22px 25px;
				background: #d8d8d8;
			}
			}
			.title-experience {
			font-size: 14px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #555555;
			}
			span {
			display: block;

			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.57;
			letter-spacing: 0px;
			text-align: left;
			color: #aaaaaa;
			margin: 2px 0;
			}
			.description-experience {
			color: #555555;
			}
		}
		}
		.action-issue {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 12;
		.action-plus {
			background-position: -5px -62px;
			width: 22px;
			height: 22px;
			display: block;
			cursor: pointer;
			margin-bottom: 10px;
		}
		.action-edit {
			background-position: -5px -35px;
			width: 22px;
			height: 22px;
			cursor: pointer;
		}
		}
	}
	.header-tab {
		display: block;
		border-bottom: solid 2px #979797;
		padding-bottom: 10px;
		margin-bottom: 30px;
		.ini-tab {
		cursor: pointer;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.1px;
		text-align: left;
		color: #555555;
		padding-bottom: 10px;
		margin-right: 20px;
		.count-notifications {
			padding: 2px;

			font-size: 10px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #ffffff;
			background: red;
			border-radius: 50%;
			vertical-align: middle;
			margin-left: 5px;
		}
		}
		.ini-tab.active {
		font-weight: bold;
		border-bottom: 2px solid #e4375c;
		color: #e4375c;
		}
	}
	.listing-page {
		background-color: #ffffff;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
		.page-office {
		display: block;
		padding: 13px 25px;
		background: #fff;
		a {
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.1px;
			text-align: left;
			color: #555555;
		}
		}
		.page-office.active {
		border-left: 3px solid #e4375c;
		background: #f5f5f5;
		a {
			color: #e4375c;
			font-weight: bold;
		}
		}
	}

	.post-everything {
		display: block;
		padding-top: 15px;
		background-color: #ffffff;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
		textarea {
		resize: none;
		border: none;
		outline: none;
		width: 100%;
		}
		.action-sprite {
		display: block;
		padding: 5px 0;
		background-color: #f5f5f5;
		label {
			cursor: pointer;
			margin-bottom: 0;
		}
		.submit-agency-form {
			float: right;
			background: linear-gradient(to right, #ee005d, #fd3591);
			font-weight: bold;
			color: #fff;
			border: 0;
			padding: 3px 15px;
			border-radius: 3px;
			font-size: 13px;
		}
		.sprite-agency-side {
			background: url(/assets/sprites/sprite-agency-side.png) no-repeat;
			text-indent: -9999px;
			overflow: hidden;
			text-align: left;

			font-size: 15px;
			vertical-align: middle;
			font-weight: normal;
			margin-right: 15px;
		}
		.image {
			background-position: -30px -2px;
			width: 20px;
			height: 20px;
		}
		.video {
			background-position: -30px -52px;
			width: 20px;
			height: 20px;
		}
		}
	}
	.post-everything.show {
		position: absolute;
		z-index: 21212;
		zoom: 1;
		transform: scale(1);
	}
	.rol-11 {
		width: 15%;
		max-width: 15%;
		flex: 0 0 15%;
	}
	.rol-89 {
		width: 82%;
		max-width: 82%;
		flex: 0 0 82%;
		margin-left: 3%;
	}
	.rol-25 {
		width: 15%;
		max-width: 15%;
		flex: 0 0 15%;
	}
	.rol-75 {
		width: 85%;
		max-width: 85%;
		flex: 0 0 85%;
	}
	}
	.col-content {
	padding: 0px 10px 10px;
	// border-bottom: 1px solid #555;
	.avatar {
		img {
		width: 10%;
		}
	}
	.content {
		textarea {
		width: 89% !important;
		margin-left: 1%;
		vertical-align: top;
		border: 0;
		outline: none;
		resize: none;
		cursor: text;
		}
	}
	}
	.list-post {
	position: relative;
	margin-top: 35px;
	.new-post {
		position: absolute;
		left: 0;
		top: -11px;
		right: 0;
		text-align: center;
	}
	.new-post-except {
		background: linear-gradient(to right, #ee005d, #fd3591);
		font-weight: bold;
		color: #fff;
		border: 0;
		padding: 7px 15px;
		font-size: 13px;
		border-radius: 15px;
	}
	}
	.list-post.show {
	margin-top: 135px;
	}
	.col-post {
        background-color: #ffffff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        padding-bottom: 15px;
        padding: 15px;
        .title-post {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0px;
            text-align: left;
            color: #555555;
        }
        .list-media {
            position: relative;
            .close {
                opacity: 1;
                top: 10px;
                right: 10px;
            }
        }
        button#postSetting {
            font-size: 14px;
            background: transparent;
            border: 1px solid #aaaaaa;
            color: #555555;
        }
        .dropdown-menu {
            padding: 0;
        }
        .title-drop {
            background-color: #f5f5f5;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0px;
            text-align: left;
            color: #555555;
            padding: 0 15px;
        }
        .dropdown-item {
            padding: 0.5rem 1rem;
        }
        .inline-block {
            vertical-align: middle;
            .title-privacy {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: left;
                color: #555555;
                margin-bottom: 0;
            }
            .des-privacy {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: left;
                color: #aaaaaa;
            }
        }
        .action-post {
            padding-top: 15px;
            display: inline-block;
            float: right;
            .type.dropdown {
                display: inline-block;
            }
            .submit-agency-form {
                background: linear-gradient(to right, #ee005d, #fd3591);
                font-weight: bold;
                color: #fff;
                border: 0;
                padding: 8px 15px 10px 15px;
                border-radius: 3px;
                font-size: 13px;
                margin-left: 10px;
            }
        }
	.info-user {
		padding: 20px 0;
	}
	.more-options {
		position: absolute;
		top: 0;
		right: 0;
		button {
		background: transparent;
		padding: 0;
		margin: 0;
		border: 0;
		cursor: pointer;
		outline: none;
		}

		.sprite-network {
		display: inline-block;
		background: url(/assets/sprites/sprite-net-work.png) no-repeat;
		overflow: hidden;
		text-indent: -9999px;
		text-align: left;
		margin-right: 7px;
		font-size: 12px;
		}
		.close-or-cancel {
		background-position: -5px -192px;
		width: 18px;
		height: 12px;
		}
		.add-icon {
		background-position: -5px -62px;
		width: 22px;
		height: 22px;
		vertical-align: middle;
		}
		.comment-icon {
		background-position: -5px -139px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		}
		.close-icon {
		background-position: -5px -114px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		}
		.blog-icon {
		background-position: -5px -89px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		}
		.report-icon {
		background-position: -5px -164px;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		}
	}
	.title-person {
		font-size: 15px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0px;
		text-align: left;
		color: #3acaaa;
		display: block;
	}
	.current-job {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		margin: 5px 0 0 0;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0px;
		text-align: left;
		color: #555555;
		display: block;
	}
	.description-recommend {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0px;
		text-align: left;
		color: #555555;
		display: block;
	}
	.content-post {
		* {
		font-size: 14px;

		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0px;
		text-align: left;
		color: #555555;
		}
		p {
		margin-bottom: 5px;
		}
		img {
		max-width: 100%;
		}
		.minimize-post {
		position: relative;
		margin-bottom: 10px;
		.read-more {
			position: absolute;
			right: 0;
			bottom: 0;

			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #3acaaa;
			cursor: pointer;
		}
		}
	}
	.list-image {
		img {
		width: 100%;
		}
	}
	.all-action {
		.count-on-post {
		display: block;
		padding: 5px 0;
		border-bottom: 1px solid #aaaaaa;
		span {
			font-size: 13px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			margin-right: 7px;
			color: #aaaaaa;
		}
		}
		.action-posts {
		padding: 10px 0;
		.group-action {
			margin-right: 10px;
			cursor: pointer;
			span {
			display: inline-block;
			vertical-align: middle;
			}
			span.sprite-agency-side {
			margin-right: 5px;
			}
		}
		span {
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0px;
			text-align: left;
			color: #555555;
		}
		}
	}
	}

	@media screen and (min-width: 768px) {
	.main {
		.header-info {
		.put-header {
			.cancel-request {
			margin-left: 2px;
			}
			.mmenu-post {
			width: 250px;
			left: -110px;
			}
			.dropdown-toggle::after {
			content: none;
			}
			.flex-end {
			align-items: flex-end;
			}
		}
		}
	}
	}
	.default-upload {
	display: none !important;
	}
	.image-col {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
	vertical-align: middle;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
	label {
		display: block;
		img {
		width: 100%;
		height: 70px;
		display: block;
		box-sizing: border-box;
		}
	}
	.deleteUploaded {
		position: absolute;
		top: 0;
		right: 0;
		img {
		max-width: 15px !important;
		}
	}
	}
	.modal-create-post {
	overflow-y: auto;
	top: 100px;
	}
	.row-except {
	position: relative;
	.close {
		right: 0;
		z-index: 123123123;
		position: absolute;
		top: -30px;
	  }
	}


	.inline-block {
		display: inline-block;
		.title-person-comment {
			font-size: 14px;
			font-weight: bold;
			display: block;
			color: #3acaaa;
		}
		.current-job-comment {
			font-size: 12px;
			color: #aaaaaa;
		}
		.current-job-comment {
			display: block;
			padding-top: 3px;
		}
		.comment-message {
			font-size: 12px;
			color: #555555;
			margin-top: 10px;
			display: block;
		}
		.action-like, .action-reply {
			font-size: 12px;
			font-weight: bold;
			color: #4a90e2;
			margin-right: 10px;
		}
		.action-reply {
			.count-reply {
				padding-left: 10px;
				border-left: 1px solid #555555;
			}
		}
		.action-with-post {
			display: block;
    		margin: 5px 0;
		}
		.timer-post {
			font-size: 12px;
			color: #aaaaaa;
		}
	}
	.f90 {
		position: relative;
		width: 90%;
	}
	.f91 {
		position: relative;
		width: 91%;
		label {
			float: right;
			bottom: -5px;
			right: 5px;
			display: unset;
			position: absolute;
			z-index: 12123;
		}
		.form-control {
			font-size: 13px;
			height: calc(2rem + 2px);
		}
	}
	.inline-block:nth-child(odd) {
		margin-right: 10px;
	}
	.load-more {
		font-size: 13px;
		color: #555555;
	}
	@media screen and (max-width: 768px) {
	.rol-11 {
		width: 15% !important;
		max-width: 15% !important;
		flex: 0 0 15% !important;
	}
	.rol-89 {
		width: 72% !important;
		max-width: 72% !important;
		flex: 0 0 72% !important;
		margin-left: 2%;
	}
	.row-except {
		margin-left: -15px !important;
		margin-right: -15px !important;
		position: relative;
	}
	.post-everything {
		margin-top: 15px;
	}
	.main {
		.header-info {
		.put-header {
			position: relative;
			margin-top: -120px;
			.mmenu-post {
			width: 100%;
			}
			.cancel-request {
			display: block;
			border: 1px solid;
			border-color: #ccc;
			padding: 10px 15px;
			}
		}
		.header-background {
			height: 200px;
		}
		.mmenu-post {
			img {
			min-height: 29px;
			}
		}
		.dropdown-toggle {
			img {
			min-height: 29px;
			}
		}
		}
	}
	.main-info {
		.header-tab {
		margin-bottom: 5px;
		.ini-tab {
			padding-bottom: 13px;
		}
		}
	}
	.dropdown-toggle::after {
		content: none;
	}
	.sprite-work.open {
		position: unset;
	}
	}

	@media screen and (min-width: 768px) {
	.modalEdit {
		.modal-dialog {
		max-width: 600px;
		}
	}
	}
	@media screen and (max-width: 320px) {
	.main {
		.listing-experience {
		.image-exp {
			img {
			padding: 16px !important;
			background: #d8d8d8 !important;
			}
		}
		}
		.dropdown-toggle {
		img {
			width: 87px;
			height: 29px;
		}
		}
		.mmenu-post {
		img {
			width: 87px;
			height: 29px;
		}
		}
	}
}
