@import '../../../../../assets/styles/variables';
$path-images: '../../../../../assets/images';

img {
  max-width: 100%;
}

.bg-top {
  position: relative;
  height: 300px;
  background: url('#{$path-images}/background-signup.png') no-repeat;
  background-size: cover;
  width: 100%;
  h3 {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    max-width: 859px;
    margin: 0 auto;
    font-size: 38px;
    color: $white-color;
    font-size: 34px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
  }
}
#container-become-member {
  /* position: relative;
    width: 100%;
    height: 80px;
    .bg-black-become-member{
        background-color: $black-color;
        filter: alpha(opacity=8); !* IE *!
        -moz-opacity: 0.08; !* Mozilla *!
        opacity: 0.08; !* CSS3 *!
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
    .become-member-navbar {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }*/
}
main.become-member {
  .overlay {
    position: absolute;
    width: 100%;
    background: #7d7676;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
  }
  .region-safe {
    position: fixed;
    width: 300px;
    height: 200px;
    top: 100px;
    left: 0;
    text-align: center;
    margin: 0 auto;
    right: 0;
    padding: 30px;
    background: #fff;
  }
  .check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
  }
  .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
  }

  .sa-icon.sa-success {
    border-color: #4caf50;
  }

  .sa-icon.sa-success::before,
  .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
  }

  .sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
  }

  .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, 0.5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
  }

  .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
  }

  .sa-icon.sa-success {
    border-color: transparent\9;
  }
  .sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
  }
  .sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
  }

  .animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
  }

  .animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
  }
  .line-radio {
    display: inline-block;
    margin-right: 20px;
  }

  @-webkit-keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  @-webkit-keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }

  @keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }

  .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
  }

  .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  @-webkit-keyframes rotatePlaceholder {
    0% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
  }
  @keyframes rotatePlaceholder {
    0% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
  }
  .allInfoPartner {
    padding: 40px 0;
    position: relative;
    .label-upload {
      border-radius: 5px;
      background-color: $red-color;
      display: block;
      padding: 11px 46px;

      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      text-align: left;
      color: $white-color;
      input[type='file'] {
        display: none;
      }
    }
    .col-md-8 {
      span {
        display: block;
      }
    }
    .elem-border {
      border-bottom: solid 1px $gray-color;
    }
    .form-group {
      .has-error {
        border: 1px solid $red-color;
        box-sizing: border-box;
      }
    }
    .upload-box {
      .col-md-8 {
        span {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.57;
          letter-spacing: 0px;
          text-align: left;
          color: $gray-5-color;
        }
      }
    }
  }
  .col-info {
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: $red-color;
    padding-bottom: 15px;
    border-bottom: solid 1px $gray-color;
  }
  .left-signal {
    padding: 0.375rem 0;
    .reddot {
      color: red;
      padding-left: 3px;
    }
  }
  .submit-button {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: $white-color;
    background-image: linear-gradient(to left, #f36895, #e4375c);
    border: 0;
    outline: none;
    padding: 7px 35px;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
  }
  .radio-custom {
    opacity: 0;
    position: absolute;   
  }
  .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #aaaaaa;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 5px;
    text-align: center;
  }
  .back-button {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: $gray-5-color;
    border: 1px solid #c3c3c3;
    background: $white-color;
    padding: 7px 35px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
  }
  .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
  }
  .radio-custom:checked + .radio-custom-label:before {
      background: #e4375c;
      box-shadow: inset 0px 0px 0px 2px #fff;
  }
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555555;
  opacity: 0.5;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #555555;
  opacity: 0.5;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #555555;
  opacity: 0.5;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #555555;
  opacity: 0.5;
}
.default-upload {
  display: none !important;
  .fileUpload {
    max-width: 140px !important;
  }
}
.form-control {
  option{
    color: #555555;
  }
  option:disabled {
    background: #fff;
  }
}


@media screen and (max-width: 768px) {
  .ml-mobile {
    margin-left: -15px !important;
  }
  .mr-mobile {
    margin-right: -15px !important;
  }
  .mgt-10-mobile {
    margin: 10px 0 10px -15px;
  }
  .bg-top {
    h3 {
      font-size: 26px;
    }
  }
  .captcha-and-submit {
    .col-md-8 {
      .row {
        margin-left: -7px;
      }
    }
    .captch {
      div {
        width: 100% !important;
      }
    }
  }
  main.become-member {
    .line-radio {
      display: block;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .captcha-and-submit {
    .captcha-row-mobei {
      margin-left: -20px;
    }
  }
}
