.promote {
    display: inline-block;
    background: url('/assets/sprites/sprite-listing-agency.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin-top: -8px;
    background-position: -0px -157px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    vertical-align: bottom;
}

.checkbox-section {
    label {
        margin-right: 10px;
        input[type="checkbox"] {
            display: none;
        }
        .animations {
            border-radius: 3px;
            border-color: #aaaaaa;
            color: #fff;
            display:inline-block;
            background-color: transparent;
            transition: border-color 90ms cubic-bezier(0,0,.2,.1);
            border-width: 1px;
            border-style: solid;


            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0px;
            text-align: left;
            color: #555555;
        }
        .animations > i {
            padding: 1px 2px;
            color: #fff;
            opacity: 0;
        }
        input[type="checkbox"]:checked + .animations {
            border-color: #E4375C;
            background: #E4375C;
        }
        input[type="checkbox"]:checked + .animations > i {
            opacity: 1;
        }
    }
}
.image-feature {
    img {
        max-width: 100%;
    }
}
.content-list {
    .breadcrum {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        margin-bottom: 10px;
        text-align: left;
        color: #0073e6;
    }
    .title-project {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .btn-action-promote {
        vertical-align: middle;
        padding: 5px 27px;
        border: 1px solid;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
    }
    .btn-action-promote:hover {
        border-color: #e4375c;
    }
}
.mi-date {
    font-size: 16px;
    font-weight: 500;
}
.mi-date.spent {
    color: #3acaaa;
}
.border-right {
    border-right: 1px solid #979797 !important;
}
.border-bottom {
    border-bottom: 1px solid #979797 !important;
}
.title-date {
    font-size: 12px;
    color: #aaaaaa;
}

@media screen and (max-width: 768px) {
    .mobile-padding-right-0 {
        padding-right: 0;
        img {
            max-width: 100%;
        }
    }

}
@media screen and (max-width: 575px) {
    .detail-list {
        margin-top: 20px;
    }
}
