<main class="py-5 mt-4">
    <app-header-listing active="promotion" [listingTotal]="listingTotal | async"></app-header-listing>
    <div class="container mobile-padding-0">
        <app-form-filter></app-form-filter>
    </div>
    <hr />
    <div class="container">
        <div class="main">
            <div class="title-promotion">
                All Promotions
            </div>
            <div class="list-action">
                <button class="button-action active">
                    Create Promotion
                </button>
            </div>
            <div class="col-12">
                <div class="pt-5 pb-5 border-bottom">
                    <app-promotion-item *ngFor="let item of promotions | async" [item]="item"></app-promotion-item>
                </div>
            </div>
            <!-- <div class="col-12"> -->
            <app-pagination></app-pagination>
            <!-- </div> -->
        </div>
    </div>
</main>