.main {
    .title-promotion {
        font-size: 24px;
        font-weight: bold;

        .count {
            font-weight: normal;
        }
    }

    .list-action {
        display: block;
        margin: 30px 0px 10px 0;

        .button-action {
            padding: 10px 45px;
            background-color: #ffffff;
            border-radius: 6px;
            border: solid 1px #aaaaaa;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.1px;
            text-align: left;

            margin-right: 15px;
        }

        .button-action.active {
            border: solid 1px #e4375c;
            color: #e4375c;
        }

        .button-action:hover {
            background-color: #e4375c;
            color: #fff !important;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .mobile-padding-0 {
        padding: 0 !important;
    }

    .main {
        .list-action {
            .button-action {
                padding: 10px 37px;
            }
        }
    }
}
