<div class="nav-left">
	<div class="cover-photo" style="background: url(assets/images/coca-c.png) no-repeat; background-size: cover;background-position: center">
	</div>
	<div class="content-info">
		<div class="avatar">
			<img src="/assets/images/03x.png" alt="Nghiem Tran Mai Thuy Thuy">
			<span class="add-photo">{{ 'FeedChat.AddAPhoto' | translate }}</span>
		</div>
		<h3 class="title">Nghiem Tran Mai Thuy Thuy</h3>
		<div class="list-parameter">
			<div class="par-count">
				{{ 'Network.Connections' | translate }} <span>73</span>
			</div>
			<div class="par-count">
				{{ 'Network.Following' | translate }} <span>733</span>
			</div>
			<div class="par-count">
				{{ 'Network.Followers' | translate }} <span>733</span>
			</div>
		</div>
	</div>
</div>

