<main class="text-center py-5 mt-5">
    <div class="container">
      <network-form-filter></network-form-filter>
    </div>
    <hr/>
    <div class="container">
      <div class="row m-0 p-2 mobile-padding-0">
        <div class="col-xs-12 col-md-12 col-lg-9 mobile-padding-0">
          <div class="row">
            <div class="main-connections w-100">
              <div class="header-main-connections">
                <div class="w-100 block">
                  <div class="xs-100">
                    <span class="count-connections"><span class="count">190 </span> {{ 'Network.AgentResult' | translate }} “Nguyen Van A”</span>
                  </div>
                </div>
              </div>
              <div class="list-main-connections">
                <div class="conections-content" *ngFor="let connection of listConnections; let i = index">
                  <div class="p-4">
                    <div class="row m-0 aling-item-center">
                      <div class="col-xs-12 col-sm-9 col-lg-9 mobile-padding-0">
                        <div class="row">
                          <div class="col-1 rol-11">
                            <div class="row">
                              <img src="{{ connection.image }}" alt="{{ connection.name }}">
                            </div>
                          </div>
                          <div class="col-11 rol-89">
                            <div class="row">
                              <span class="title-user">
                                {{ connection.name }}
                              </span>
                              <span class="user-description w-100">
                                {{ connection.job }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-lg-3 button-list mobile-padding-0">
                        <div class="arrow" ngbDropdown>
                          <button class="form-control button-submit message" translate>Network.Message</button>
                          <span class="more" title="{{ 'Network.More' | translate }}" id="more{{connection.id}}" ngbDropdownToggle></span>
                          <div ngbDropdownMenu attr.aria-labelledby="more{{connection.id}}">
                              <button class="dropdown-item">Action - 1</button>
                              <button class="dropdown-item">Another Action</button>
                              <button class="dropdown-item">Something else is here</button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="show-more" title="{{ 'Network.ShowMore'  | translate }}" translate>
                  Network.ShowMore
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-3 mobile-padding-0">
          <sidebar></sidebar>
        </div>
      </div>
    </div>
  </main>