@import '../../../assets/styles/variables';
$path-images: '../../../assets/images';
img {
  max-width: 100%;
}

.list-border {
  border: solid 1px #aaaaaa;
  box-sizing: border-box;
  .list-binding-page {
    padding: 18px 10px;
  }
  .bg-even {
    background: #f5f5f5;
  }
  .title-sidebar {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: #fff;
      background: #555555;
    padding: 10px;
    text-transform: uppercase;
  }
  img.avatar {
    border: 1px solid #aaa;
    cursor: pointer;
  }
  .title-page {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: #555555;
    cursor: pointer;
    min-height: 32px;
  }
  .follow {
    font-size: 13px;
    padding: 2px 15px;
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    margin-top: 7px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 87px;
  }
  .follow.followed {
    background: linear-gradient(to right, #ee005d, #fd3591);
    font-weight: bold;
    color: #fff;
    border: 0;
  }
  .remove-agency {
    position: absolute;
    top: -7px;
    right: -3px;
    z-index: 12;
    img {
      max-width: 10px;
    }
  }
  .remove-agency:hover {
    img {
      border: 1px solid #ccc;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
.modal-open .modal {
  top: 120px !important;
}

@media screen and (max-width: 768px) {
  .list-border {
    border: 0;
  }
  .mobile-padding-0 {
    padding: 0 !important;
  }
}
