<!-- <h3 class="title-tab">All Listings <span class="count">({{ (pages | async)?.totalElements }})</span></h3>
<div class="row">
    <ng-container *ngFor="let item of items">
        <div class="col-6 col-xl-6 pb-3 content-list">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 image-feature mobile-padding-right-0">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </div>
                <div class="col-12 col-sm-8 col-lg-8 detail-list">
                    <p class="breadcrum">Commercial > Sale > VNGO-HN-0047</p>
                    <h3 class="title-project">
                        Vinhome Central Park bán căn hộ 3 phòng ngủ, 100m2, tầng cao view đẹp
                    </h3>
                    <p class="breadcrum action">Complete | Delete</p>
                </div>
            </div>
        </div>
    </ng-container>
</div> -->