<div class="view">
    <div class="full-bg-img">
        <div class="mask rgba-indigo-slight flex-center">
            <div class="container">
                <div class="row center-item">
                    <div class="col-12 col-lg-8 col-md-12 col-sm-12 ">
                        <div class="white-text wow fadeInUp">
                            <div class="title">{{ 'home.headline' | translate }}</div>
                            <div>
                                <a type="button" routerLink="become-member" class="btn btn-outline-default btn-member" mdbWavesEffect>{{ 'home.become_a_member' | translate }}</a>
                                <!-- <img src="assets/images/become-a-member.png" alt="Become a member"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-12 col-sm-12 desktop-h-600" >
                        <app-form-login></app-form-login>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
