/** ====================================================================================================================
 * Colors variables for projects
 */
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #979797;
$gray-5-color: #555555;
$red-color: #e4375c;
$blue-color: #4285f4;
$green-color: #20a8a3;
$gray-blue-color: #f5f5f5;

/** ====================================================================================================================
 * Fonts variables for projects
 */
$font-primary: 'Roboto';
$font-helvetica: 'HelveticaNeue';
$font-size-normal: 14px;
