<div class="container-fluid">
    <form class="form-facilities">
		<div class="row m-0">
			<h2>Swap</h2>
			<div class="row form-content w-100">
				<div class="col-12 col-lg-6">
					<p class="des-swap">
						Define exactly what the owner is looking for the swapping of the property
					</p>
					<div class="group-swap">
						<h4 class="title-gr-swap">Property Type *</h4>
						<div class="list-contras">
							<div class="row m-0">
								<div class="col-4 p-0">
									<div class="checkbox-section">
										<label for="propertytype">
											<input type="checkbox" id="propertytype" value="propertytype"  >
											<div class="animations">
												<i class="fa fa-check"></i>
											</div>	
											Townhouse
										</label>
									</div>
								</div>
								<div class="col-4 p-0">
									<div class="checkbox-section">
										<label for="propertytype1">
											<input type="checkbox" id="propertytype1" value="Apartment"  >
											<div class="animations">
												<i class="fa fa-check"></i>
											</div>	
											Apartment
										</label>
									</div>
								</div>
								<div class="col-4 p-0">
									<div class="checkbox-section">
										<label for="propertytype2">
											<input type="checkbox" id="propertytype2" value="Villa"  >
											<div class="animations">
												<i class="fa fa-check"></i>
											</div>	
											Villa
										</label>
									</div>
								</div>
								<div class="col-4 p-0">
									<div class="checkbox-section">
										<label for="propertytype3">
											<input type="checkbox" id="propertytype3" value="Villa"  >
											<div class="animations">
												<i class="fa fa-check"></i>
											</div>	
											Villa
										</label>
									</div>
								</div>
								<div class="col-8 p-0">
									<div class="checkbox-section" style="display: inline-block">
										<label for="propertytype4">
											<input type="checkbox" id="propertytype4" value="Villa"  >
											<div class="animations">
												<i class="fa fa-check"></i>
											</div>	
											Villa
										</label>
									</div>
									<input type="text" class="form-control" style="display: inline-block;width: auto">
								</div>
							</div>
						</div>
					</div>
					<div class="group-swap">
						<h4 class="title-gr-swap">Expecting minimum area *</h4>
						<div class="input-with-type">
							<input type="text" class="form-control" placeholder="Minimum area is expected">
							<span class="currency">m2</span>
						</div>
					</div>
					<div class="group-swap">
						<h4 class="title-gr-swap">City/Province*</h4>
						<div class="input-with-type">
							<select class="form-control">
								<option value="Ho Chi Minh">Ho Chi Minh</option>
								<option value="Ha Nội">Ha Nội</option>
								<option value="Đà Nẵng">Đà Nẵng</option>
								<option value="Cần Thơ">Cần Thơ</option>
							</select>
						</div>
					</div>
					<div class="group-swap">
						<h4 class="title-gr-swap">District*</h4>
						<div class="input-with-type">
							<select class="form-control">
								<option value="Ho Chi Minh">Ho Chi Minh</option>
								<option value="Ha Nội">Ha Nội</option>
								<option value="Đà Nẵng">Đà Nẵng</option>
								<option value="Cần Thơ">Cần Thơ</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="group-swap">
						<h4 class="title-gr-swap">City/Province*</h4>
						<div class="w-100">
							<div class="btn-group btn-group-toggle" ngbRadioGroup>
								<label ngbButtonLabel class="btn-default check-swap active">
									<input ngbButton type="radio" checked="firstCheck" value="*"> All
								</label>
								<label ngbButtonLabel class="btn-default check-swap">
									<input ngbButton type="radio" value="1"> 1+
								</label>
								<label ngbButtonLabel class="btn-default check-swap">
									<input ngbButton type="radio" value="2"> 2+
								</label>
								<label ngbButtonLabel class="btn-default check-swap">
									<input ngbButton type="radio" value="3"> 3+
								</label>
								<label ngbButtonLabel class="btn-default check-swap">
									<input ngbButton type="radio" value="4"> 4+
								</label>
							</div>
						</div>
					</div>
					<div class="group-swap">
						<h4 class="title-gr-swap">Expecting facilities</h4>
						<div class="list-contras">
							<div class="row m-0">
								<div class="col-4 p-0" *ngFor="let item of listExpecting">
									<div class="checkbox-section">
										<label for="experting{{ item.id }}">
											<input type="checkbox" id="experting{{ item.id }}" value="{{ item.id }}"  >
											<div class="animations">
												<i class="fa fa-check"></i>
											</div>	
											{{ item.title }}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
    </form>
</div>
