<div class="sidebar-left">
	<div class="dev-top">
		<h3 class="title-notifi">
			{{ 'FeedChat.Notifications' | translate }}
		</h3>
		<p class="des-notifi">{{ 'FeedChat.CaughtUp' | translate }}</p>
		<p class="des-notifi">{{ 'FeedChat.CheckBackNotifications' | translate }}</p>
	</div>
	<div class="dev-bottom">
		<div class="action-view-notifi">
			<p class="title">
				{{ 'FeedChat.ImproveNotifications' | translate }}
			</p>
			<span class="view-settings">
				{{ 'FeedChat.ViewSetting' | translate }}
			</span>
		</div>
	</div>
</div>